.container {
    background-color: #245890;
    color: #fff;
    padding-bottom: 22px;
    text-align: center;
    font-family: "Pangolin", cursive;
    max-width: 600px;
    max-height: 600px;
    line-height: 1mm;
}


a {
    text-decoration: none;
    color: #fff;
}

nav {
    font-size: 30px;
}

div.col h3, h4 {

    font-size: 19px;
    margin: 2px 0;
}

.row {
    margin-top: 40px;
}

.col {
    line-height: 22mm;
    margin: 6px 6px 20px;
    text-align: center;
    font-size: 11px;
    background: #194a82;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(11, 37, 44, 0.2);
    height: 150px;
}

.col:hover {
    background-color: #88a3cc;
    color: #194a82;
}

.title-img {
    margin: 10px;
    color: #fbe70e;
    width: 75px;
}

.item-img {
    width: 50px;
}

.main-header {
    margin-bottom: 50px;
}


#city {
    margin-top: 20px;
    text-shadow: 5px 5px 10px rgba(102, 111, 120, 0.4);
    font-family: "Pangolin", cursive;
    font-size: 20px;
}

#current-day {
    font-size: 20px;
}

#time, #weather-condition-header, #degree {
    font-size: 20px;
    margin-top: 15px;
    text-shadow: 5px 5px 10px rgba(102, 111, 120, 0.4);
}

#time {
    margin: 0;
}

#degree {
    display: inline;
}

#cele {
    font-size: 20px;
}

#current-location {
    margin-left: 10px;
    font-size: 12px;
}

#code-source {
    color: gold;
}


#title-nav {
    font-size: 15px;
}

#search-button {
    font-size: 15px;
}


